# Dependencies
node_modules/
**/node_modules/

# Next.js
client/.next/
client/out/
.next/
out/

# Environments
.env
.env*
! .env.example
server/.env
server/.env*
client/.env
client/.env*

# Build outputs
dist/
build/
*.tsbuildinfo

# Debug/Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
server/errors.txt
server/tsc_output.txt

# Misc
.DS_Store
*.pem
.vercel
